@tailwind base;
@tailwind components;
@tailwind utilities;

.Pricing {
    background-image: url("/Frame 1261153745.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.phone-dropdown {
    position: absolute !important;
    max-height: 200px;
    overflow-y: auto;
    z-index: 50;
    /* Ensures it appears above other elements */
}